* {
  margin: 0;
  padding: 0;
}
body {
  /* --twitter-color: #50b7f5; */
  --twitter-color: rgb(29 161 242);
  --twitter-background: #e6ecf0;
  --twitter-dark: black;
  --twitter-white:white;
  --twitter-gray:#808080;
}
.App {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
}
